<app>
    <config>
        <APP_NAME>Pepper_Concierge</APP_NAME>
        <LANGUAGE>German</LANGUAGE>
        <LAMPS_INDIVIDUALLY>False</LAMPS_INDIVIDUALLY>
        <VENETIAN_BLINDS_INDIVIDUALLY>False</VENETIAN_BLINDS_INDIVIDUALLY>
        <ROLLER_SHUTTERS_INDIVIDUALLY>False</ROLLER_SHUTTERS_INDIVIDUALLY>
        <DOORS_INDIVIDUALLY>False</DOORS_INDIVIDUALLY>
        <PROJECTOR_AUTOMATICALLY>False</PROJECTOR_AUTOMATICALLY>
    </config>
    <functions>
        <WELCOME>True</WELCOME>
        <MUSIC>True</MUSIC>
        <ALEXA>True</ALEXA>
        <ROLLER_SHUTTER>True</ROLLER_SHUTTER>
        <CAR_DRIVING_TRAINING>True</CAR_DRIVING_TRAINING>
        <KITCHEN>True</KITCHEN>
        <FAREWELL>True</FAREWELL>
    </functions>
</app>