<Config>
    <ROBOT_URL>192.168.0.41</ROBOT_URL>
    <ROBOT_PORT>9559</ROBOT_PORT>
    <HEADLESS>False</HEADLESS>
    <DEBUG>True</DEBUG>
    <SONOS_URL>192.168.0.30</SONOS_URL>
    <MUSIC_URL>//192.168.0.10/medialib/Audio/Pepper%2F01.%20Nirvana%20-%20Smells%20Like%20Teen%20Spirit%20%28Edit%29_sample.mp3</MUSIC_URL>
    <VLC_PATH>/usr/bin/vlc -f</VLC_PATH>
    <MOVIE_PATH>/home/pi/CUTRace_v4.mp4</MOVIE_PATH>
    <SSH_USER>pi</SSH_USER>
    <SSH_PASSWORD>raspberry</SSH_PASSWORD>
    <SSH_HOST>192.168.0.231</SSH_HOST>
    <SSH_PORT>22</SSH_PORT>
    <MQTT_BROKER_IP>192.168.0.5</MQTT_BROKER_IP>
    <MQTT_BROKER_PORT>1883</MQTT_BROKER_PORT>
    <MQTT_PUBLISH_TOPIC_BASE>/messages/commands/</MQTT_PUBLISH_TOPIC_BASE>
    <MQTT_SUBSCRIBE_TOPIC_BASE>/messages/states/</MQTT_SUBSCRIBE_TOPIC_BASE>
</Config>